.site-branding,
.main-navigation,
.site-content,
.site-footer {
  max-width: 1200px;
  margin: 0 auto;
}

.site-branding {
  padding-top: 8px;
}

.site-content {
  padding: 5em;
  @media screen and (min-width:576px){
    padding: 2em;
  }
}