.header-top-wrapper,
.main-navigation,
.site-info,
.menu-footer-menu-container,
.header-image-inner{
  max-width: 1200px;
  margin: 0 auto;
}



.site-content {
  padding: 0;
  @media screen and (min-width:$size__site-main){
    padding: 0;
  }
}